In [1]:
import numpy as np
import pandas as pd
heroes_information = pd.read_csv("heroes_information.csv")

In [2]:
###instalar desde anaconda navigator######
####pandasql
####mysql
####mysql-connector-c
####mysql-connector-python
from pandasql import *

In [4]:
####para enlistar los documentos en el directorio#####
os.listdir()

['.ipynb_checkpoints', 'heroes_information.csv', 'SQL Competition.ipynb']

In [5]:
pysqldf = lambda q: sqldf(q,globals())

In [6]:
query2 = " SELECT * FROM heroes_information limit 10"

In [7]:
pysqldf(query2)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

In [73]:
query1 = """
SELECT *
FROM heroes_information
WHERE Race='Human'
AND Height > 200;

"""

In [74]:
pysqldf(query1)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,29,Ant-Man,Male,blue,Human,Blond,211.0,Marvel Comics,None,good,122.0
2,59,Bane,Male,None,Human,None,203.0,DC Comics,None,bad,180.0
3,119,Bloodaxe,Female,blue,Human,Brown,218.0,Marvel Comics,None,bad,495.0
4,221,Doctor Doom,Male,brown,Human,Brown,201.0,Marvel Comics,None,bad,187.0
5,373,Juggernaut,Male,blue,Human,Red,287.0,Marvel Comics,None,neutral,855.0
6,391,Kingpin,Male,blue,Human,No Hair,201.0,Marvel Comics,None,bad,203.0
7,412,Lizard,Male,red,Human,No Hair,203.0,Marvel Comics,None,bad,230.0
8,476,Mr Incredible,Male,blue,Human,Blond,201.0,Dark Horse Comics,None,good,158.0
9,557,Rey,Female,hazel,Human,Brown,297.0,George Lucas,None,good,-99.0
10,583,Scorpion,Male,brown,Human,Brown,211.0,Marvel Comics,None,bad,310.0
11,591,She-Hulk,Female,green,Human,Green,201.0,Marvel Comics,None,good,315.0

In [27]:
query1 = " SELECT * FROM heroes_information ORDER name by desc"
pysqldf(query1)

PandaSQLException: (sqlite3.OperationalError) near "name": syntax error
[SQL:  SELECT * FROM heroes_information ORDER name by desc]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [28]:
query1 = "SELECT Publisher FROM heroes_information group by id WHERE  Count(*) id > 15"
pysqldf(query1)

PandaSQLException: (sqlite3.OperationalError) near "WHERE": syntax error
[SQL: SELECT Publisher FROM heroes_information group by id WHERE  Count(*) id > 15]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
query1 = "SELECT Count(*)  id FROM heroes_information WHERE Eye color = 'blue' OR 'red'"
pysqldf(query1)

PandaSQLException: (sqlite3.OperationalError) near "color": syntax error
[SQL: SELECT Count(*)  id FROM heroes_information WHERE Eye color = 'blue' OR 'red']
(Background on this error at: https://sqlalche.me/e/14/e3q8)